*{
  font-family: 'Noto Sans JP', sans-serif;
  color: #5B6467;
}

.about-container{
  padding: 4rem 7rem;
  margin: 3rem auto;
  background-image: url(../img/homebg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
