*{
  font-family: 'Noto Sans JP', sans-serif;
  color: #5B6467;
}

a{
  font-family: 'Noto Sans JP', sans-serif;
  color: #5B6467!important;
}

p{
  font-size: 18px;
}

.logo{
  height: 80%;
  width: auto;
  margin: 7px 1rem;
  display: inline-block;
}

#home{
  height: max-content;
  background-color: white;
}

#work{
  height: max-content;
}

#contact{
  height: max-content;
  background-color: #F0DBD5;
}

.about-container{
  padding: 7rem 7rem;
  margin: 3rem auto;
  background-image: url(../img/homebg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 750px) {
  .about-container{
    padding: 7rem 3rem;
  }
}

.work-section{
  padding: 7rem 0rem;
  width: 100%;
  margin: 0;
  max-width: 100%;
}

.row{
  margin: 0;
}

#web-portfolio{
  background-color: #F0DBD5;
}

#mislead-site{
  background-color: #BDC5B8;
}

#art-portfolio{
  background-color: #DCE5E3;
}

#kast-site{
  background-color: #C1CACD;
}

.work-info{
  padding: 0rem 6rem;
  margin: auto;
}

@media screen and (max-width: 750px) {
  .work-info{
    margin-top: 3rem;
    padding: 0rem 3rem;
  }
}

.contact-spacing{
  padding: 4rem 2rem;
}

.contact-form{
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
}

.btn-blue{
  background-color: #C1CACD;
}

.flex{
  display: flex;
}

.preview-img{
  width: 100%;
  height: auto;
  margin: auto;
}
